[submodule "all-the-icons-local-fork"]
path = linux/fonts
url = https://github.com/plus-c-c/all-the-icons-local-fork.git
[submodules "win-apps"]
path = win/appsxgit
url = https://github.com/plus-c-c/win-apps.git